@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent !important;
}

body {
  font-family: var(--font-omori), sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  cursor: url('/assets/cursor.png') 4 4, pointer !important;
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: url('/assets/cursor.png') 4 4, pointer !important;
  }
}