@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent !important;
}

body {
  font-family: var(--font-omori), sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  cursor: url('/assets/cursor.png') 4 4, pointer !important;
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: url('/assets/cursor.png') 4 4, pointer !important;
  }
}

.font-omori {
  font-family: var(--font-omori), "Courier New", Courier, monospace;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes omori-shock {
    0% { opacity: 0; transform: scale(0.5); }
    10% { opacity: 1; transform: scale(1.2); }
    20% { opacity: 0; }
    30% { opacity: 1; transform: scale(1.1); }
    40% { opacity: 0; }
    50% { opacity: 1; transform: scale(1); }
    100% { opacity: 1; }
  }
  .shock-effect {
    animation: omori-shock 0.2s steps(1) forwards;
  }